./packages/core/lego
# IntelliJ project files
.vscode/
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
/.idea/
*/**/dist
*/**/pnpm-lock.yaml
*/**/stats.html
.idea
*.iml
out
gen
/test/*.private.*

/*.log

/packages/ui/*/.idea

/packages/ui/*/node_modules

/packages/*/node_modules
/packages/ui/certd-server/tmp/
/packages/ui/certd-ui/dist/
/other
/dev-sidecar-test
/packages/core/certd/yarn.lock
/packages/test
/test/own
/pnpm-lock.yaml

docker/image/workspace
/packages/core/lego

tsconfig.tsbuildinfo
test/**/*.js
