# IntelliJ project files
.idea
*.iml
out
gen
node_modules/
/test/*.private.*

/*.log

/packages/ui/*/.idea

/packages/ui/*/node_modules

/packages/*/node_modules
/packages/ui/certd-server/tmp/
/packages/ui/certd-ui/dist/
/other
