.ant-layout .ant-layout-sider{
    background-color: #ebf1f6;
}

.ant-layout .ant-layout-header{
  background-color: #ebf1f6;
}

.fs-multiple-page-control-group .fs-multiple-page-control-content{
  overflow-y: hidden;
}

.fs-multiple-page-control-group .fs-multiple-page-control-btn .ant-btn{
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
.ant-menu-horizontal{
  border-bottom: 0;
}

.fs-framework .header-menu{
  overflow-y: hidden;
}

.ant-btn.ant-btn-icon-only{
  padding-inline:revert;
}

