.ant-layout .ant-layout-sider {
  background-color: #ebf1f6;
}

.ant-layout .ant-layout-header {
  background-color: #ebf1f6;
}

.fs-multiple-page-control-group .fs-multiple-page-control-content {
  overflow-y: hidden;
}

.fs-multiple-page-control-group .fs-multiple-page-control-btn .ant-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ant-menu-horizontal {
  border-bottom: 0;
}

.fs-framework .header-menu {
  overflow-y: hidden;
}

.ant-btn.ant-btn-icon-only {
  padding-inline: revert;
}

.fs-form-wrapper .fs-form-header {
  padding-right: 30px !important;
}

.fs-values-format .fs-tag {
  display: inline-flex;
  .fs-icon {
    margin-right: 3px;
  }
}

.fs-search .ant-row {
}

//适配手机端
.ant-tour {
  max-width: 90vw;
}

.fs-page {
  .fs-page-header {
    background-color: hsl(var(--card));
  }
  .fs-crud-table {
    background-color: hsl(var(--card));
  }
}

footer {
  background-color: hsl(var(--card)) !important;
}

.ant-select-multiple .ant-select-selection-item-remove {
  display: flex;
  align-items: center;
}

.ant-progress.ant-progress-show-info .ant-progress-outer {
  margin-inline-end: calc(-3em - 8px);
  padding-inline-end: calc(3em + 8px);
}

.ant-progress .ant-progress-text {
  width: 3em;
}

.ant-input-number {
  min-width: 150px;
}
