.fs-iconify.fs-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.fs-icon {
  font-size: 16px;
}

.ant-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .fs-iconify {
    margin-right: 5px;
  }
}

.cd-icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cd-flex {
  display: flex;
  justify-content: left;
  align-items: center;
}

.cd-flex-inline {
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

.ant-drawer-content {
  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

.icon-button {
  cursor: pointer;
  font-size: 22px;
}

.ant-drawer {
  .ant-drawer-header-title {
    display: flex;
    align-items: center;

    .ant-drawer-title {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.settings-form {
  width: 800px;
  margin: 20px;
}

// .fs-crud-table {
//   .ant-table-body {
//     height:60vh;
//   }
// }

body a {
  color: #1890ff;
  &:hover {
    color: #40a9ff;
  }
}

span.fs-icon-svg {
  display: inline-flex;
  align-items: center;
}

.ant-btn .fs-icon:last-child {
  margin-right: 0px;
}

.fs-iconify fs-icon {
  svg {
    vertical-align: 0 !important;
  }
}

.fs-button {
  span {
    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
  .fs-icon,
  .fs-button-icon {
    margin: 0 !important;
  }
}

button.ant-btn.ant-btn-default.isPlus {
  color: #c5913f;
  border: 1px solid #c5913f;

  &:disabled {
    cursor: not-allowed;
    border-color: hsl(240 5.9% 90%);
    color: rgba(50, 54, 57, 0.25);
    background-color: rgba(50, 54, 57, 0.04);
    box-shadow: none;
  }
}

.dark {
  button.ant-btn.ant-btn-default.isPlus {
    color: #c5913f;
    border: 1px solid #c5913f;

    &:disabled {
      border-color: hsl(0, 0%, 31%);
      color: rgba(233, 233, 233, 0.25);
    }
  }
}
