//@import "./theme/index.less";
//@import "./theme/default.less";
@import "./scroll.less";
@import "./transition.less";
@import "./fix-windicss.less";
@import "./antdv4.less";
@import "./certd.less";
@import "./dark.less";
@import "./vben.less";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

div#app {
  height: 100%;
}

pre {
  &.pre,
  &.helper {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.fs-desc {
  font-size: 12px;
  color: #888888;
  margin-left: 5px;
  margin-right: 5px;
}

.ant-btn-link {
  height: 24px;
}

.ant-input-affix-wrapper {
  padding: 4px 11px;
}

.anticon {
  vertical-align: 0 !important;
}

.pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vc {
  align-items: center;
}

.flex-vb {
  align-items: baseline;
}

.flex-o {
  display: flex !important;
  align-items: center;
}

.flex-baseline {
  display: flex !important;
  align-items: baseline;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-0 {
  flex: 0;
}

// .flex-col {
//   display: flex;
//   flex-direction: column;
// }

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.scroll-y {
  overflow-y: auto;
}

.m-0 {
  margin: 0 !important;
}

.m-2 {
  margin: 2px !important;
}

.m-3 {
  margin: 3px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-20 {
  margin: 20px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.block-header {
  margin: 3px;
  padding-top: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #dedede;
}

.color-plus {
  color: #c5913f;
}

.color-blue {
  color: #1890ff;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.color-gray {
  color: gray;
}

.iconify {
  //font-size: 16px;
}

.icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .fs-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.need-plus {
  color: #c5913f !important;
}

.deleted {
  color: #c7c7c7;
  //删除线
  text-decoration: line-through;
}

.cursor-move {
  cursor: move !important;
}

.cursor-pointer {
  cursor: pointer;
}

.helper {
  color: #8f8f8f;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;

  &.error {
    color: #ff4d4f;
  }
}

.fs-copyable {
  display: inline-flex;

  .text {
    flex: 1;
  }

  .copy-button {
    position: relative !important;
    /* right: 0; */
  }
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-26 {
  font-size: 26px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.w-50\% {
  width: 50%;
}

.ant-drawer-content-wrapper {
  max-width: 95vw;
}

.block-title {
  font-size: 14px;
  padding: 10px;
  color: #6e6e6e;
}

.ant-modal-body {
  .fs-form-body {
    max-height: 66vh;
    overflow-y: auto;
  }
}

.ant-input-number {
  min-width: 100px;
}

.cd-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: auto;

  &.cd-table-none-border {
    border: 0 !important;
    td,
    th {
      border: 0 !important;
    }
  }

  .fs-loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 10000;
  }

  table {
    width: 1000px;
    min-width: 100%;
    table-layout: fixed;
    font-size: 16px;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .position-sticky-right {
    position: sticky;
    right: 0;
    z-index: 100;
    border-left: 0px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      /* 边框宽度 */
      background: #eee;
      /* 边框颜色 */
    }
  }

  th,
  td {
    text-align: left;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
  }

  th {
    padding: 10px 5px;
    background: #fbfbfb;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    border-top: 1px solid #eee;

    &:last-child {
      border-right: 1px solid #eee;
    }
  }

  td {
    padding: 10px;
    font-size: 14px;

    &:last-child {
      border-right: 1px solid #eee;
    }
  }

  td.position-sticky-right {
    background-color: #fff;
  }

  tr.hover-color:hover td {
    background: #f9f9ff;
  }

  .status {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .status-active {
    background: #e7f6e9;
    color: #2e7d32;
  }

  .status-pending {
    background: #ffecb3;
    color: #f57c00;
  }
}

.ant-tag {
  .fs-icon {
    margin-right: 5px;
  }
}

.hidden-important {
  display: none !important;
  visibility: hidden !important;
}
