@import './theme/index.less';
@import './theme/default.less';
@import './scroll.less';
@import './transition.less';
@import './fix-windicss.less';
svg { vertical-align: baseline; }
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

div#app {
  height: 100%
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.ant-btn-link {
  height: 24px;
}


.ant-input-affix-wrapper {
  padding: 4px 11px;
}


.anticon {
  vertical-align: 0 !important;
}


.text-center{
  text-align: center;
}

.red{
  color:red
}

.font12{
  font-size: 12px;
}

.bg-gray{
  background-color: #eee;
}

.bg-white{
  background-color: #fff;
}

.fs-page-header{
  background-color: #fff;
}


.ant-btn{
  .fs-iconify{
    font-size:16px;
    margin-right:3px
  }

  display: inline-flex;
  justify-content: center;
  align-items: center;

}

.ant-timeline{
  .fs-iconify{
    font-size: 16px;
  }
}

.mt-10{
  margin-top:10px;
}
.ml-5{
  margin-left:5px;
}
.ml-10{
  margin-left: 10px;
}
.mtb-5{
  margin: 5px 0 5px 0;
}

.mb-10{
  margin-bottom: 10px;
}

.mlr-5{
  margin: 0 5px 0 5px;
}

.gray{
  color:gray;
}
.green{
  color:green;
}
.blue{
  color:blue;
}
.red{
  color:red
}
.yellow{
  color:yellow;
}

.ml-2{
  margin-left: 2px;
}

.font-20{
  font-size:20px
}