::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}

::-webkit-scrollbar-track {
  width: 12px !important;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

::-webkit-scrollbar-thumb {
  // background-color: rgba(#101F1C, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #757575;
}

::-webkit-scrollbar-thumb:hover {
  //background-color: rgba(#101F1C, 1);
}
